<% content_for :subtitle do %><h2><%= @post.title %></h2><% end %>
<section id="show-post">
  <menu><%= link_to '✎', edit_post_path(@post), { :class => 'icon' } %></menu>
  <%= @post.text.html_safe %>
  <nav><%= link_to 'Back', posts_path, { :class => 'button' } %></nav>

  <% content_for :aside do %>
    <% @post.comments.each do |comment| %>
      <section class="comment">
        <%= render comment %>
     </section>
    <% end %>
  <% end %>
  
  <%= render "comments/form" %>
</section>
